---
import ProfileCard from './ProfileCard.astro';
---

<div>
    <main class="flex flex-col gap-5 pb-10">
        <div class="w-full h-96 flex flex-col justify-center items-center text-center px-4">
            <div class="font-title text-4xl md:text-5xl font-bold bg-linear-to-b from-gray-800 to-indigo-400 bg-clip-text text-transparent">Kaleidoscape.ctf</div>
            <span class="mt-2">Meet Our Members</span>
        </div>
        <div class="flex justify-center items-center skew-x-10 w-full px-4">
            <nav class="bg-white/60 backdrop-blur-xl border border-white/40 shadow-xl shadow-amber-50/30 w-full md:w-fit">
                <div class="flex flex-wrap justify-center text-center -skew-x-10 font-code p-3 text-sm md:text-xl">
                    Born from<span class="text-shadow-2xs text-shadow-fuchsia-200 ml-1 md:ml-3">curiosity</span>, fueled by <span class="text-shadow-2xs text-shadow-cyan-100 ml-1 md:ml-3"> caffeine</span>, and powered by last-minute <span class="text-shadow-2xs text-shadow-amber-200 ml-1 md:ml-3">brilliance</span>.
                </div>
            </nav>
        </div>
        <div class="flex flex-col gap-5 px-4 md:px-16 lg:px-32 mt-8">
            <ProfileCard
                tags1="B2R"
                tags2="Forensics"
                tags3="PWN"
                role="Captain"
                text="I turned pudding into a fully functional keyboard. ^^"
                img="/images/rvexrie.png"
                alias="Rvexrie"
                color="amber"
                instagramLink="https://www.instagram.com/rvexrie/"
                linkedInLink="https://www.linkedin.com/in/alif-zaidan-zidna-fann-977247258"
            />
            <ProfileCard
                tags2="OSINT"
                role="Vice-Captain"
                text=`"Sometimes, good can come from being blind to fate's path "
                -Beryl Bouanich`
                img="/images/pidiota.gif"
                alias="Pidiota"
                color="white"
                instagramLink="https://www.instagram.com/khalidahmadnaufal26"
                linkedInLink="https://www.linkedin.com/in/khalid-ahmad-naufal-iswahyudi-8b66a2365"
            />
            <ProfileCard
                tags1="Forensics"
                tags2="WebEx"
                role="Member"
                text=`Hidup cewe bule blonde`
                img="/images/monkey.jpg"
                alias="Bjoerka"
                color="mist"
                tiktokLink="https://tiktok.com/@tahu.isi.protein"
            />
            <ProfileCard
                tags1="WebEx"
                tags2="OSINT"
                role="Member"
                text=`Gua pengen hubungan kita kayak HTTPS: Selalu aman, terenkripsi penuh, dan ga ada pihak ketiga.`
                img="/images/KAIMAN.jpg"
                alias="KAIMAN"
                color="white"
                instagramLink="https://www.instagram.com/imanueldavebombang"
            />
        </div>
    </main>
</div>